/*Var paletas de colores que se utilizaran en pagina*/
$primary-color1: yellow;
$primary-color2: blue;
$primary-color3: red;
$bg-primary: #FEFDFF;
$bg-secondary: #b9bbbd;
$btn-primary: #8EB1C7;
$btn-secondary: #EB4511;
$border-primary: #031e2e;
$shadow: #fae76e;

