/*Archivo base de Importacion de parciales*/
/*Var paletas de colores que se utilizaran en pagina*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

/*Estilos para todos los div del DOM */
.contenedor {
  width: 1300px;
  height: 1000px;
  margin: 1px auto;
  padding: 1px;
}

.header {
  background: url(../img/placeimg_800_400_tech.jpg) center/cover;
  height: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.nav {
  height: 5%;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  list-style: none;
  padding: 1;
  margin: 1;
}

.nav ul li {
  display: inline-block;
}

.nav ul a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 12px;
  display: block;
  border-radius: 1em;
}

.nav ul a:hover {
  background-color: #fae76e;
}

.contenido {
  height: 55%;
  margin: 1em;
  padding: 1em;
}

.contenido-izq {
  height: 100%;
  width: 55%;
  border-radius: 1em;
  margin: 0.1em;
  padding: 0.5em;
  float: left;
}

.contenido-izq h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  color: black;
}

.contenido-izq .contenido-izq-articulos {
  font-size: 16px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.contenido-izq .contenido-izq-articulos p {
  color: black;
  text-align: justify;
  padding: 1em;
}

.contenido-izq .contenido-izq-articulos h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.contenido-der form .botones button[type='submit'] {
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #fff;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  /*operador &*/
}

.contenido-der form .botones button:hover[type='submit'] {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.contenido-der {
  height: 100%;
  width: 44%;
  border: solid black 5px;
  border-radius: 1em;
  margin: 0.1em;
  padding: 0.5em;
  float: right;
}

.contenido-der h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  color: black;
}

.contenido-der form {
  background: #b9bbbd;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #031e2e;
}

.contenido-der form input {
  border-radius: 5px;
  border: 1px solid #031e2e;
  width: 100%;
  padding: 10px;
  display: block;
}

.contenido-der form input:focus {
  border: 1px dashed #8EB1C7;
}

.contenido-der form label {
  display: inline-block;
  margin: 10px 0;
}

.contenido-der form .botones {
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

.contenido-der form .botones button[type='submit'] {
  background: #8EB1C7;
}

.contenido-der .signing-btn button {
  font-size: 1rem;
  margin-right: 20px;
  border-radius: 1px;
  border: 1px dashed #000;
  padding: 20px 30px;
  background-color: #FEFDFF;
}

.contenido-der .signing-btn button:hover {
  background-color: #fae76e;
  border: 1px dotted #000;
}

.contact a img {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: -3px 0px 0px 1px #FEFDFF;
          box-shadow: -3px 0px 0px 1px #FEFDFF;
  line-height: 40px;
  text-align: center;
}

.footer {
  height: 10%;
  margin: 1em;
  padding: 1em;
}

.footer p {
  padding: 20px 0;
  float: left;
}

.contact {
  padding: 10px;
  float: right;
}

.contact a {
  text-decoration: none;
}

.contact a img {
  /*extendido estilo*/
  /*diferente*/
  line-height: unset;
  margin-left: 20px;
  padding: 10px;
  border: none;
}

.contact a img:hover {
  background: #fae76e;
}

.contenido-izq-orador {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em;
  padding: 0.1em;
}

.contenido-izq-orador .img-orador {
  background: url(../img/silueta.png) center/cover;
  border-radius: 70%;
  width: 100px;
  height: 100px;
  margin: 1em;
  padding: 1em;
}

.contenido-izq-orador p {
  color: black;
  text-align: justify;
  padding: 1em;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */